.App {
  text-align: center;
}
.header{
  padding: 1vw;
  color: black;
  font-size: 3.5vw;
  background-image: linear-gradient(to left,rgb(255, 94, 255),rgb(168, 168, 255));
}
button{
  width: 10vw;
  padding: 0.5vw;
  border-radius: 0.3vw;
  font-size: 1vw;
}
.box{
  width: 9.6vw;
  height: auto;
  border-radius: 0.3vw;
  margin-left: 45vw;
  border: 1px solid grey;
  font-size: 0.5vw;
  cursor: pointer;
}
.bg{
  width: 20vw;
  height: 10vw;
  border-radius: 0.3vw;
  margin-left: 39.5%;
  border: 2px solid black;
  box-shadow: 0.2vw 0.2vw 0.2vw 0 black;
  cursor: pointer;
}
.bg:hover{
  width: 22vw;
  margin-left: 38.5vw;
  height: 11vw;
}